:root {
  --blue: #5975ff;
  --blue2: #3029d9;
  --white: #ffffff;
  --navy: #111849;
  --grey: #a0abb8;
  --grey2: #b8c6d6;
  --fwbold: 700;
  --fwextrabold: 800;
  --fwsemibold: 600;
  --fwmedium: 500;
  --fwregular: 400;
  --fwlight: 300;
}

/* navbar */

.navbar {
  background-color: var(--blue2);
}

/* .navbar-nav .nav-item a:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
  color: var(--white);
  font-weight: var(--fwmedium);
} */

.nav-link {
  color: white;
  position: relative;
  text-decoration: none;
  margin-left: 8px;
}

.nav-link:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 75px;
  height: 3px;
  background: #ffffff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link:hover::after {
  color: #ffffff;
  transform: scaleX(1);
}

.dropdown .dropdown-toggle {
  color: #fff;
}

.navbar-nav .nav-item {
  padding-right: 10px;
  padding-left: 10px;
  font-weight: var(--fwregular);
}

.navbar-brand {
  font-weight: var(--fwbold);
  font-size: 25px;
  color: var(--white);
  margin-left: 30px;
}

.navbar-brand:hover {
  color: white;
}

.navbar-nav .nav-item a {
  color: #fff;
  /* font-family: Poppins; */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* transition: all 0.3s ease; */
}

/* .finance-navbar {
  background: var(--blue2);
  padding-bottom: 50px;
  padding-top: 20px;
} */

.navbar .navbar-nav .nav-button:hover {
  background-color: var(--blue2);
  text-decoration: none;
}

.navbar .navbar-nav .nav-drop a {
  color: var(--navy);
}

.navbar .navbar-nav .nav-drop a:hover {
  color: #3029d9;
  text-decoration: none;
}

/* margin */
.mt-70 {
  margin-top: 70px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-33 {
  margin-right: 32px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

/* hero section */
.header {
  background: radial-gradient(50% 50% at 50% 50%, #5975ff 0%, #3029d9 100%);
  padding-top: 100px;
}

.big-header {
  font-size: 80px;
  font-style: normal;
  font-weight: var(--fwbold);
  line-height: 90px;
  color: var(--white);
  padding-bottom: 30px;
}

.primary-copy {
  font-size: 16px;
  font-weight: var(--fwregular);
  line-height: 28px;
  padding-bottom: 10px;
  color: var(--white);
}

.btn-primary {
  /* padding: 10px 32px 10px 32px; */
  width: 166px;
  height: 39px;
  border-radius: 4px;
  background: var(--navy);
  color: var(--white);
  font-size: 16px;
  font-weight: var(--fwregular);
  border: 0;
}

.btn-primary:hover {
  background-color: white;
  color: var(--navy);
}

/* about */

.small-copy {
  color: var(--blue2);
  font-size: 24px;
  font-weight: var(--fwsemibold);
  line-height: 58px;
}

.big-about {
  color: #0b1131;
  font-size: 48px;
  font-weight: var(--fwbold);
  line-height: 68px;
  padding-bottom: 10px;
}

.primary-about {
  color: #a0abb8;
  font-size: 14px;
  font-weight: var(--fwmedium);
  line-height: 28px;
}

.btn-about {
  border-radius: 4px;
  background: #3029d9;
}

/* services */

.small-services {
  color: var(--blue2);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px; /* 283.333% */
}

.big-services {
  color: #0b1131;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px; /* 141.667% */
}

.services .card {
  width: 18rem;
}

.services .card-1 img {
  width: 88px;
  height: 88px;
}
.services .card-2 img {
  width: 88px;
  height: 88px;
}
.services .card-3 img {
  width: 88px;
  height: 88px;
}

.card-firm {
  background-color: #3029d94d;
  width: 250px;
  height: 150px;
  border-radius: 70px 0 70px 70px;
  margin-top: 250px;
  margin-left: -60px;
}
.card-firm-right {
  background-color: #3029d94d;
  width: 250px;
  height: 150px;
  border-radius: 70px 70px 70px 0px;
  margin-left: 20px;
  margin-top: 200px;
}

.card-firm .font-bold {
  padding-left: 40px;
  padding-top: 30px;
  color: var(--blue2);
  font-weight: var(--fwbold);
}
.card-firm-right .font-bold {
  padding-left: 40px;
  padding-top: 30px;
  color: var(--blue2);
  font-weight: var(--fwbold);
}

.card-firm-right .font-p {
  padding-left: 40px;
  color: var(--blue2);
  font-weight: var(--fwsemibold);
}
.card-firm .font-p {
  padding-left: 40px;
  color: var(--blue2);
  font-weight: var(--fwsemibold);
}

/* card */

.card-container {
  display: flex;
}

.card-1 {
  border: 0;
  margin-right: 34px;
}

.card-2 {
  background-color: var(--blue2);
  color: var(--white);
  margin-right: 34px;
}

.card-3 {
  background-color: var(--navy);
  color: var(--white);
}

.card-text {
  color: #b8c6d6;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}

.card-title-0 {
  /* color: white; */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 68px; */
}

/* features */

.features {
  background: var(--blue2);
  padding-bottom: 50px;
}

.small-features {
  /* color: #5975ff;
  font-weight: var(--fwbold);
  line-height: 28px; */
  color: #5975ff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px; /* 283.333% */
}

.big-features {
  /* color: var(--white);
  font-size: 48px;
  font-weight: var(--fwbold);
  padding-bottom: 10px; */
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px; /* 141.667% */
}

.primary-features {
  /* color: #a0abb8;
  font-size: 14px;
  font-weight: var(--fwmedium);
  line-height: 28px; */
  color: #b8c6d6;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 200% */
}

.btn-primary-features {
  width: 170px;
  height: 36px;
  color: #fff;
  background-color: var(--navy);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.btn-primary-features:hover {
  color: var(--navy);
  background-color: white;
}

.features img {
  padding-left: 300px;
}

/* start now */

.small-startnow {
  color: var(--blue2);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px; /* 283.333% */
}

.big-startnow {
  color: #0b1131;
  font-size: 48px;
  font-weight: var(--fwbold);
  line-height: 68px;
  padding-bottom: 10px;
}

.primary-startnow {
  color: #a0abb8;
  font-size: 14px;
  font-weight: var(--fwmedium);
  line-height: 28px;
}

.startnow img {
  width: 622px;
}

/* card services */

.card-4 {
  margin-right: 34px;
}

.card-title-1 {
  color: #3029d9;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px; /* 200% */
}

.card-title {
  color: #0b1131;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
}

.btn-card {
  border-radius: 4px;
  background: #3029d9;
  color: var(--white);

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* footer */

footer {
  background: #fff;
  padding: 86px 0;
}
.footer-brand {
  color: #0b1131;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.single-box p {
  color: var(--navy);
  /* line-height: 1.9; */
}

.single-box-1 {
  margin-left: 50px;
  color: #0b1131;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.single-box-1 a {
  text-decoration: none;
  color: var(--navy);
}

/* contact */
.contact {
  height: 630px;
  background: #111849;
}

.small-contact {
  color: #5975ff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px; /* 283.333% */
}

.big-contact {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
}

.btn-primary-contact {
  width: 117px;
  height: 39px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #3029d9;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-contact {
  padding-top: 150px;
}

.single-box-2 img {
  height: 25px;
  margin-left: 20px;
}

.help li {
  list-style: none;
  margin-left: 30px;
}
.help li a {
  text-decoration: none;
}
